/* Fuente */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@font-face{
  font-family: "Jaez";
  src: url("Fonts/jaez-Regular.otf")format("opentype");
}
@font-face{
  font-family: "Chillerz";
  src: url("Fonts/chiller/Chillerz DEMO.otf")format("opentype");
}
 @font-face {
  font-family:"Dripping" ;
  src: url("Fonts/Dripping DEMO.otf");
 }

/*Movimiento por la página.*/
html{
  scroll-behavior: smooth;
}

/* Estilo del cuerpo de la página */
body {
  background-color: #060606;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  /*background-color: #f6f6f6;*/
  /*color: #333;*/
  margin: 0px;
}
/*estilo global*/
h3{
  color: #9222db;
  font-family: "Chillerz";
}
h4{
  color:#9222db;
  font-family: "Chillerz";
}

/* Estilo del encabezado */
.box{
  display: inline-block;
  margin: 0px;
}

#logo{
  position: relative;
}

#titulo{
  position: relative;
  left: 90px;
  bottom: 20px;
}

#barraNav{
  position: relative;
  left: 64px;
  top: 20px;
  display: block;
}
h1{
  color: #800000;
  font-family: "Chillerz";
  font-size: 50px;
  background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(245,2,2,1) 50%);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

ul{
  padding: 0px;
}

header{
  padding-bottom: 0px;
}

header nav ul li {
  display: inline-block;
  margin-right: 20px;
}

header nav ul li a {
  color: #333;
  text-decoration: none;
}
.boton_barra {
  color: #aaaaaa;
}
.boton_barra:hover{
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 4px;
  padding-right: 4px;
  background-color: rgb(109, 30, 183);
  color: rgb(33, 3, 60);

  transition: 1.2s;
}

/* Estilo del contenido principal */
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

main h2 {
  color: #800000;
  font-family: "Chillerz";
  font-size: 50px;
  margin-top: 40px;
  background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(245,2,2,1) 50%);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

main ol li, main ul li {
  line-height: 1.5;
}
article{
  padding: 40px 0 0 0;
}

/*Estilo del boton*/
.boton {
  display: flex;
  justify-content: center;
  align-items: center;

}

#botonDonacion {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: blueviolet;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}


/* Estilo de la sección de preguntas frecuentes */

.faq-item{
  margin: 0 10px 0 10px;
}

#faq dt {
  font-size: 20px;
  margin-top: 40px;
}

#faq dd {
  margin-bottom: 20px;
}

#faq dt:before {
  content: "+";
  margin-right: 10px;
}

#faq dt.open:before {
  content: "-";
}

/*estilo de la sección Información del juego*/
.info-item{
  margin: 10px 0 10 0;
}
span{
  margin: 10px;
  display:block;
}

.barraDeNavegacion{
  /*background-color: #fff;*/
  background-color: #060606;
  padding: 20px;
  padding-bottom: 0;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  z-index: 10;
  display: inline-block;
  position: fixed;
  top: 0;
  transition-duration: 0s;
}

.barraDeNavegacionMinimizada{
  /*background-color: #fff;*/
  background-color: #060606;
  padding: 20px;
  padding-bottom: 0;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  z-index: 10;
  display: inline-block;
  position: fixed;
  top: -90px;
  transition-duration: 0s;
}

/*Estilo de la galeria de imagenes.*/
section {
  justify-content: center;
  display: flex;
  height: 430px;
}
section img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.5;
  transition: 1s ease;
}
section img:hover{
  cursor: crosshair;
  width:  300px;
  opacity: 1;
  /*filter: contrast(110%);*/
}
#galeria{
  padding-top: 162px;
}

/*Estilo de la caja de comentarios.*/
#newComment{
  position: relative;
  background-color: #060606;
  color: #ffffff;
}
.container h3{
  margin-bottom: 20px;
  font-family: "Jaez";
  font-size: 30px;
  color: #7a0000;
}

.container button{
  background-color: #4b0101;
  color: #aaaaaa;
}

#comentarios{
  margin: 40 20 40 20;
  position: relative;
}