/* Fuente */
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Estilo del cuerpo de la página */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f6f6f6;
  color: #333;
  margin: 0px;
}

/* Estilo del encabezado */
.box{
  display: inline-block;
  margin: 0px;
}

#logo{
  position: relative;
}

#titulo{
  position: relative;
  left: 90px;
  bottom: 20px;
}

#barraNav{
  position: relative;
  left: 64px;
  top: 20px;
  display: block;
}

ul{
  padding: 0px;
}

header{
  padding-bottom: 0px;
}

header nav ul li {
  display: inline-block;
  margin-right: 20px;
}

header nav ul li a {
  color: #333;
  text-decoration: none;
}

/* Estilo del contenido principal */
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 86px;
}

main h2 {
  font-size: 24px;
  margin-top: 40px;
}

main ol li, main ul li {
  line-height: 1.5;
}

/*Estilo del boton*/
.boton {
  display: flex;
  justify-content: center;
  align-items: center;

}

#botonDonacion {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: blueviolet;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}


/* Estilo de la sección de preguntas frecuentes */
#faq dt {
  font-size: 20px;
  margin-top: 40px;
}

#faq dd {
  margin-bottom: 20px;
}

#faq dt:before {
  content: "+";
  margin-right: 10px;
}

#faq dt.open:before {
  content: "-";
}

.barraDeNavegacion{
  background-color: #fff;
  padding: 20px;
  padding-bottom: 0;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  z-index: 10;
  display: inline-block;
  position: fixed;
  left: 20px;
  top: -0px;
  transition-duration: 1s;
}

.barraDeNavegacionMinimizada{
  background-color: #fff;
  padding: 20px;
  padding-bottom: 0;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  z-index: 10;
  display: inline-block;
  position: fixed;
  left: 20px;
  top: -90px;
  transition-duration: 1s;
}